/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: orange;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    /* width: 120px; */
    /* height: 40px; */
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;



}

/* nav relatted style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    
}

nav a {
    text-decoration: none;
    color: #100e0e;
}

/* header related style */
.header{
    background-color:  #efe2d7;;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 500px;
}